<div class="topSearch">
    <mat-toolbar color="primary" style="min-height: 150px;">
        <mat-toolbar-row>
            <h1 class="text-white fs2em ml16p">Profile:</h1>
            <span style="margin: 25px 0 0 16px;">
                <img mat-card-image src="https://robohash.org/nihilblanditiisexercitationem.bmp?size=50x50&set=set1" alt="" matBadge="8" matBadgePosition="after" matBadgeColor="accent">
            </span>
            <span style="text-indent: 16px; color: white;">Name here</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="example-spacer"></span>

        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div style="width: 100%; display:flex; padding: 16px; margin-top: -8%">
    <div style="display: inline-flexbox; margin: 16px; width: 20%;">
        <mat-card style="min-height: 350px;">dededede </mat-card>
    </div>
    <div style="display: inline-flexbox; margin: 16px;width: 70%">

        <mat-tab-group>
            <mat-tab label="Profile Detail">
                <mat-card class="mat-elevation-z8" style="margin-top: 50px; background-color: white!important;">
                    <div>
                        Content 1
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="Profile ID's">
                <mat-card class="mat-elevation-z8" style="margin-top: 50px; background-color: white!important;">
                    <div>
                        Content 2
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="Activity Timeline">
                <mat-card class="mat-elevation-z8" style="margin-top: 50px; background-color: white!important;">
                    <div>
                        Content 3
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>