.mat-tab-label {
    background-color: transparent;
    color: white!important;
}

.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: white!important;
}

.mat-card-image {border-radius: 50%;}