/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif!important;
    font-size: 12px!important;
    font-weight: normal!important;
}
.container2pc {
    padding: 2%;
}
.ml16p {margin-left: 16px!important;}

.fs2em {font-size: 1.5em!important;}

.text-black {color: black}
.text-white {color: white}
